body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url(img/10_background/background.png);
    margin: 0 !important;
}

canvas {
    background-color: black;
}

.canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    display: none !important;
}

.startGameScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.startGameScreen button {
    z-index: 2;
    position: absolute;
    background-color: transparent;
    border: none;
}

.startGameScreen button :hover {
    cursor: pointer;
}

.startGameScreen img {
    z-index: 1;
    position: absolute;
    width: 720px;
    height: 480px;
}

svg {
    background-color: transparent !important;
    filter: drop-shadow(0 0 0 0.3);
}

.fullscreenButton {
    z-index: 10;
}

.gameOver {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameOver img {
    z-index: 1;
    position: absolute;
    width: 720px;
    height: 480px;
}

.gameOver button {
    z-index: 2;
    position: absolute;
}

.win {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win img {
    z-index: 1;
    position: absolute;
    width: 720px;
    height: 480px;
}


@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
}