body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url(img/10_background/background.png);
    margin: 0 !important;
}

.d-none {
    display: none !important;
}

.hover:hover {
    cursor: pointer;
}

canvas {
    background-color: #F4AC58;
    position: absolute;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.contentCanvas {
    position: absolute;
    width: 720px;
    height: 480px;
}

.header {
    position: absolute;
}

#startIMG {
    position: absolute;
    width: 720px;
    height: 480px;
}

.startButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 720px;
}

.startButton {
    width: 250px;
    margin-top: 20px;
    transform: skew(-20deg);
    border: solid 3px #ba5b38;
    background-color: #ffc422 !important;
    padding: 10px !important;
    font-size: 30px;
    z-index: 1;
}

.ControllButtons {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    width: 700px;

}

.ControllButtons button {
    background-color: transparent !important;
    border: none;
}

.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 720px;
    height: 480px;
}

.gameOver img {
    object-fit: cover;
    z-index: 2;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.playAgain {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-top: 40%;
}

.playAgain:hover {
    cursor: pointer;
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
}

@media all and (display-mode: fullscreen) {

    #startIMG,
    #canvas,
    #win,
    #gameOver {
        width: 100vw !important;
        height: 100vh !important;
    }

    .startButtonContainer,
    .ControllButtons {
        width: 100vw !important;
    }

    #minimize {
        margin-right: 20px !important;

    }

    #fullscreen {
        display: none !important;
    }
}


@media not all and (display-mode: fullscreen) {
    #minimize {
        display: none;
    }
}